<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Что? Где? Когда?</title>
<style type="text/css">
table {
    background-color: #444;
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    }
th{
    border: 1px solid black
}
a.tha {
    text-decoration: none;
    color: #fff;
}
</style>
</head>
<body>

<div align="center">
    <h1>Добро пожаловать на главную страницу</h1>
    <h2>"Что? Где? Когда?" в Артеме</h2>
</div>

<table>
    <tr>
        <th><a class="tha" href="/">О нас</a></th>
        <th><a class="tha" href="/">Список мероприятий</a></th>
        <th><a class="tha" href="/">Альбом</a></th>
        <th><a class="tha" href="/">Участники</a></th>
        <th><a class="tha" href="/">Форум</a></th>
        <th><a class="tha" href="/">Регистрация</a></th>
    </tr>
</table>

</body>
</html>