<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Что? Где? Когда?</title>
<style type="text/css">
table {
    background-color: #444;
    border: 1px solid #000;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    }
th{
    border: 1px solid black
}
a.tha {
    text-decoration: none;
    color: #fff;
}
div.article {
    border: 1px solid pink
}
h2.article {
    margin-left: 20px
}
h3.article {
    margin-left: 40px
}
</style>

<script>
    function goto(){
        return window.location.href = '/'
    }
</script>

</head>
<body>

{% load staticfiles %}

<div align="center">
    <img onclick="goto()" src=" {% static 'main/chgk.jpg' %}" align="left" height="122px"/><h1>Добро пожаловать на главную страницу</h1>
    <h2>"Что? Где? Когда?" в Артеме</h2>
</div>

<table>
    <tr>
        <th><a class="tha" href="/">О нас</a></th>
        <th><a class="tha" href="/">Список мероприятий</a></th>
        <th><a class="tha" href="/">Альбом</a></th>
        <th><a class="tha" href="/">Участники</a></th>
        <th><a class="tha" href="/">Форум</a></th>
        <th><a class="tha" href="/">Регистрация</a></th>
    </tr>
</table>

{% for art in articles %}
<br>
<div class="article">
<h2 class="article">{{ art.heading }}</h2>
<h3 class="article">{{ art.description }}</h3>
<h4 align="right">{{ art.time }}</h4>
</div>
{% endfor %}
</body>
</html>